* {
  font-smooth: always;
}

*:not(pre) {
  font-family: 'Noto Sans TC', 'SF Pro TC', 'SF Pro Text', 'SF Pro Icons',
    'PingFang TC', 'Helvetica Neue', 'Helvetica', 'Arial', 'Microsoft JhengHei',
    wf_SegoeUI, 'Segoe UI', Segoe, 'Segoe WP', Tahoma, Verdana, Ubuntu,
    'Bitstream Vera Sans', 'DejaVu Sans', Tahoma, 微軟正黑體, 'LiHei Pro',
    'WenQuanYi Micro Hei', 'Droid Sans Fallback', 'AR PL UMing TW', Roboto,
    'Helvetica Neue', 'Hiragino Maru Gothic ProN', メイリオ,
    'ヒラギノ丸ゴ ProN W4', Meiryo, 'Droid Sans', sans-serif;
}

/* Font Size */
.font-size-micro {
  font-size: 0.6em;
  font-weight: 500;
}
.font-size-mini {
  font-size: 0.8rem;
  font-weight: 500;
}
.font-size-small {
  font-size: 1rem;
  font-weight: 500;
}
.font-size-regular {
  font-size: 1.4rem;
  font-weight: 500;
}
.font-size-large {
  font-size: 1.8rem;
  font-weight: 500;
}
.font-size-huge {
  font-size: 2.2rem;
  font-weight: 500;
}

/* Grid */
.rows {
  display: flex;
  flex-direction: column;
}
.cols {
  display: flex;
  flex-direction: row;
}
.col-1 {
  flex: 0 0 calc(100% / 12 * 1);
}
.col-2 {
  flex: 0 0 calc(100% / 12 * 2);
}
.col-3 {
  flex: 0 0 calc(100% / 12 * 3);
}
.col-4 {
  flex: 0 0 calc(100% / 12 * 4);
}
.col-5 {
  flex: 0 0 calc(100% / 12 * 5);
}
.col-6 {
  flex: 0 0 calc(100% / 12 * 6);
}
.col-7 {
  flex: 0 0 calc(100% / 12 * 7);
}
.col-8 {
  flex: 0 0 calc(100% / 12 * 8);
}
.col-9 {
  flex: 0 0 calc(100% / 12 * 9);
}
.col-10 {
  flex: 0 0 calc(100% / 12 * 10);
}
.col-11 {
  flex: 0 0 calc(100% / 12 * 11);
}
.col-12 {
  flex: 0 0 calc(100% / 12 * 12);
}

/* Margin */
.m-1 {
  margin: 0.25rem;
  box-sizing: border-box;
}
.m-2 {
  margin: 0.5rem;
  box-sizing: border-box;
}
.m-3 {
  margin: 1rem;
  box-sizing: border-box;
}
.m-4 {
  margin: 2rem;
  box-sizing: border-box;
}
.m-5 {
  margin: 4rem;
  box-sizing: border-box;
}
.mt-1 {
  margin-top: 0.25rem;
  box-sizing: border-box;
}
.mt-2 {
  margin-top: 0.5rem;
  box-sizing: border-box;
}
.mt-3 {
  margin-top: 1rem;
  box-sizing: border-box;
}
.mt-4 {
  margin-top: 2rem;
  box-sizing: border-box;
}
.mt-5 {
  margin-top: 4rem;
  box-sizing: border-box;
}
.mr-1 {
  margin-right: 0.25rem;
  box-sizing: border-box;
}
.mr-2 {
  margin-right: 0.5rem;
  box-sizing: border-box;
}
.mr-3 {
  margin-right: 1rem;
  box-sizing: border-box;
}
.mr-4 {
  margin-right: 2rem;
  box-sizing: border-box;
}
.mr-5 {
  margin-right: 4rem;
  box-sizing: border-box;
}
.mb-1 {
  margin-bottom: 0.25rem;
  box-sizing: border-box;
}
.mb-2 {
  margin-bottom: 0.5rem;
  box-sizing: border-box;
}
.mb-3 {
  margin-bottom: 1rem;
  box-sizing: border-box;
}
.mb-4 {
  margin-bottom: 2rem;
  box-sizing: border-box;
}
.mb-5 {
  margin-bottom: 4rem;
  box-sizing: border-box;
}
.ml-1 {
  margin-left: 0.25rem;
  box-sizing: border-box;
}
.ml-2 {
  margin-left: 0.5rem;
  box-sizing: border-box;
}
.ml-3 {
  margin-left: 1rem;
  box-sizing: border-box;
}
.ml-4 {
  margin-left: 2rem;
  box-sizing: border-box;
}
.ml-5 {
  margin-left: 4rem;
  box-sizing: border-box;
}
.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  box-sizing: border-box;
}
.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  box-sizing: border-box;
}
.mx-3 {
  margin-left: 1rem;
  margin-right: 1rem;
  box-sizing: border-box;
}
.mx-4 {
  margin-left: 2rem;
  margin-right: 2rem;
  box-sizing: border-box;
}
.mx-5 {
  margin-left: 4rem;
  margin-right: 4rem;
  box-sizing: border-box;
}
.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  box-sizing: border-box;
}
.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  box-sizing: border-box;
}
.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
}
.my-4 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-sizing: border-box;
}
.my-5 {
  margin-top: 4rem;
  margin-bottom: 4rem;
  box-sizing: border-box;
}

/* Padding */
.p-1 {
  padding: 0.25rem;
  box-sizing: border-box;
}
.p-2 {
  padding: 0.5rem;
  box-sizing: border-box;
}
.p-3 {
  padding: 1rem;
  box-sizing: border-box;
}
.p-4 {
  padding: 2rem;
  box-sizing: border-box;
}
.p-5 {
  padding: 4rem;
  box-sizing: border-box;
}
.pt-1 {
  padding-top: 0.25rem;
  box-sizing: border-box;
}
.pt-2 {
  padding-top: 0.5rem;
  box-sizing: border-box;
}
.pt-3 {
  padding-top: 1rem;
  box-sizing: border-box;
}
.pt-4 {
  padding-top: 2rem;
  box-sizing: border-box;
}
.pt-5 {
  padding-top: 4rem;
  box-sizing: border-box;
}
.pr-1 {
  padding-right: 0.25rem;
  box-sizing: border-box;
}
.pr-2 {
  padding-right: 0.5rem;
  box-sizing: border-box;
}
.pr-3 {
  padding-right: 1rem;
  box-sizing: border-box;
}
.pr-4 {
  padding-right: 2rem;
  box-sizing: border-box;
}
.pr-5 {
  padding-right: 4rem;
  box-sizing: border-box;
}
.pb-1 {
  padding-bottom: 0.25rem;
  box-sizing: border-box;
}
.pb-2 {
  padding-bottom: 0.5rem;
  box-sizing: border-box;
}
.pb-3 {
  padding-bottom: 1rem;
  box-sizing: border-box;
}
.pb-4 {
  padding-bottom: 2rem;
  box-sizing: border-box;
}
.pb-5 {
  padding-bottom: 4rem;
  box-sizing: border-box;
}
.pl-1 {
  padding-left: 0.25rem;
  box-sizing: border-box;
}
.pl-2 {
  padding-left: 0.5rem;
  box-sizing: border-box;
}
.pl-3 {
  padding-left: 1rem;
  box-sizing: border-box;
}
.pl-4 {
  padding-left: 2rem;
  box-sizing: border-box;
}
.pl-5 {
  padding-left: 4rem;
  box-sizing: border-box;
}
.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  box-sizing: border-box;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  box-sizing: border-box;
}
.px-3 {
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
}
.px-4 {
  padding-left: 2rem;
  padding-right: 2rem;
  box-sizing: border-box;
}
.px-5 {
  padding-left: 4rem;
  padding-right: 4rem;
  box-sizing: border-box;
}
.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  box-sizing: border-box;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  box-sizing: border-box;
}
.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-sizing: border-box;
}
.py-4 {
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
}
.py-5 {
  padding-top: 4rem;
  padding-bottom: 4rem;
  box-sizing: border-box;
}

/* Flex */
.flex {
  display: flex;
}
.flex-all-center {
  justify-content: center;
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-space-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
.align-items-flex-end {
  align-items: flex-end;
}
.flex-col-flex-start {
  align-items: flex-start;
}
.flex-col-flex-end {
  align-items: flex-end;
}

/* Text */
.color-text {
  color: #ffffff;
}
.color-secondary {
  color: #aaaaaa;
}
.color-focus {
  color: #17e68e;
}

hr {
  border: 1px solid rgba(255, 255, 255, 0.2);
}

/* SnackBar */
.snackbar {
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  z-index: 9999;

  background-color: #17e68e;
  color: black;

  font-size:1.2rem;
  font-weight: regular;

  padding: 0.8rem;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 0.5rem;
  animation: snackbar-slide-in 1s forwards;

  transform: translateY(-100%);
}

@keyframes snackbar-slide-in {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
